div#statusLog {
  margin-bottom: 0.7em;
  padding: 0.5em;
  background: #eee;
  border: #aaa 1px solid;
  border-radius: 5px;
  height: 50px;
  overflow-y: scroll;
}

div#consoleLog {
  word-wrap: break-word;
  margin-top: 1em;
  padding: 0.5em;
  background: #ccc;
  border: #aaa 1px solid;
  border-radius: 5px;
  height: 70%;
  overflow-y: scroll;
}

p {
  font-size: smaller;
}
